.answer--hidden{
    opacity: 0;
    width: 0;
    position: fixed;
}
.question--answers{
    display: flex;
    justify-content: space-evenly;
}
.answer--button{
    border-radius: 8px;
    padding: 10px 20px;
}
.unselected{
    border: 1px solid #4D5B9E;
}
.selected{
    background: #D6DBF5;
}
.incorrect{
    border: 1px solid #4D5B9E;
    opacity: .5;
}
.incorrect-selected{
    background: #F8BCBC;
    opacity: .5;
}
.correct{
    background: #94D7A2;
}