.questions--container{
    height: 75vh;
    display: grid;
  }
article{
    border-bottom: 0.8px solid #DBDEF0;
    padding-bottom: 1rem;
    width: 100%;
}
.question--title{
    font-size: 1rem;
}
.question--answers{
    font-size: .75rem;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}
.answer--container{
    margin: 10px;
}
.answer--hidden{
    opacity: 0;
    width: 0;
    position: fixed;
}
.answer--button{
    border-radius: 8px;
    padding: 10px 20px;
}
.unselected{
    border: 1px solid #4D5B9E;
}
.selected{
    background: #D6DBF5;
}
.incorrect{
    border: 1px solid #4D5B9E;
    opacity: .5;
}
.incorrect-selected{
    background: #F8BCBC;
    opacity: .5;
}
.correct{
    background: #94D7A2;
}