
.controls--info,
.controls--container{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.controls--buttons{
    display: flex;
    justify-content: space-evenly;

}
.controls--info{
    text-align: center;
}