:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: #293264;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: #F5F7FB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  box-sizing: border-box;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.25rem;
  text-align: center;
  color: #293264;
  margin-bottom: 0;
}


button {
  margin-top: 4rem;
  padding: 1.25rem 4rem;
  background: #4D5B9E;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
  border: none;

  color: #F5F7FB;
}
button:hover, 
button:focus,
button:focus-visible {
  background: #293264;
}

